.sidebar-content-container {
    width: 214px;
    z-index: 10;
    left: 5rem;
    position: absolute;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.sidebar-title {
    position: sticky;
    top: 0;
    background: var(--color-primary);
    z-index: 2;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 16px;
}
  
.terminal-title {
    position: sticky;
    top: 0;
    background: var(--color-bg-grey);
    z-index: 1;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: var(--weight-semibold);
    margin: 0;
}

/* .sidebar-title {
    background: #56409b;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-align: center;
} */

.target-list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
}
  
.target-list-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    font-size: 12px;
    border-bottom: 1px solid #bcad8a;
    cursor: pointer;
}
  
.target-list-item:hover {
    background: hsla(0,0%,100%,.5);
}
  
.target-list-item:active {
    background: rgba(86,64,155,.2);
}
  
.target-list-item span {
    flex: 1;
    text-align: center;
    word-break: break-all;
}

.terminal-title {
    text-align: center;
}
  