.sidebar-content-container {
    width: 214px;
    z-index: 9997;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-title {
    background: #56409b;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
}

/* Targets */
.target-list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
}
  
.target-list-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    font-size: 12px;
    border-bottom: 1px solid #bcad8a;
    cursor: pointer;
}
  
.target-list-item:hover {
    background: hsla(0,0%,100%,.5);
}
  
.target-list-item:active {
    background: rgba(86,64,155,.2);
}
  
.target-list-item span {
    flex: 1;
    text-align: center;
    word-break: break-all;
}

/* Target Sequence highlights, ignore for now */
.target-list .single-target {
    font-size: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid #bcad8a;
    word-break: break-all;
    line-height: 20px;
    font-family: "Poppins";
    font-weight: 300;
    cursor: pointer
}
  
.target-list .single-target>div {
    display: flex;
    grid-gap: 10px;
    gap: 10px
}
  
.target-list .single-target.disabled:hover {
    color: #ff668e;
    cursor: not-allowed
}
  
.target-list .single-target.disabled:hover div {
    color: #ff668e
}
  
.target-list .single-target:hover {
    background: hsla(0,0%,100%,.5)
}
  
.target-list .single-target span {
    font-weight: 400
}
  